#page-landing{
    width: 100vw; /*ocupa 100% da largura da página*/
    height: 100vh; /*ocupa 100% da altura da página*/
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    

}